<!-- <div class="not-found-container">
    <img src="assets/images/not_found.jpg" alt="404 Error" class="error-image" />
    <h1>404 - Page Not Found</h1>
    <p>Oops! The page you are looking for might be under construction or does not exist.</p>
    <a routerLink="/login">Go to Home</a>
  </div>
   -->

   <div class="not-found-container" [@slideInAnimation]>
    <div class="error-card">
      <img src="assets/images/not_found.jpg" alt="404 Error" class="error-image" />
      <h1> Page Not Found</h1>
      <p>Oops! The page you are looking for might be under construction or does not exist.</p>
      <a routerLink="/" class="home-link">Go to Login</a>
    </div>
  </div>
  