<div class="row">
    <div class="col-sm-4">
      <div class="card">
          <div class="card-body">
            <i class="bi bi-person"  style="font-size: 2em;"></i>
            <h5 class="card-title">Total Number of Users</h5>
            <p class="card-text" style="color: rgb(255, 153, 0);">55</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <i class="bi bi-person" style="font-size: 2em;"></i>
            <h5 class="card-title">Total Number of Driver</h5>
            <p class="card-text" style="color: rgb(255, 153, 0);">50</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <i class="bi bi-currency-dollar" style="font-size: 2em;"></i>
            <h5 class="card-title">Total Revenue</h5>
            <p class="card-text" style="color: rgb(255, 153, 0);">$ 400k</p>
        </div>
      </div>
    </div>
  </div>