<h1 mat-dialog-title class="text-center mb-0">
    <mat-icon class="text-danger">password</mat-icon>
</h1>
<div mat-dialog-content class="text-center">Change Password</div>

<div>
    <form [formGroup]="changePasswordForm">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Old Password" formControlName  = "oldPassword">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="New Password" formControlName  = "newPassword">
        </mat-form-field>            
    </form>
</div>

<div mat-dialog-actions class="justify-content-center">
    <!-- <button mat-raised-button color="primary" mat-dialog-close>Update</button> -->
    <button mat-raised-button color="primary" mat-dialog-close (click)="updatePassword()">Update</button>
</div>