<div class="main-wrapper">
    <div class="container-fluid">
        <div class="main-heading my-3">
            <h3>Admin Profile</h3>
        </div>

        <form [formGroup]="profileForm">
            <div class="row align-items-center">
                <!-- <div> -->
                <div class="col-md-6 col-lg-3 mb-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput placeholder="Name" formControlName="name" #input>
                    </mat-form-field>
                    <!-- <input type = "text"> -->
                </div>
                <div class="col-md-6 col-lg-3 mb-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Email" readonly formControlName="email" #input>
                    </mat-form-field>
                </div>
                <!-- </div> -->
                <div class="col-md-6 col-lg-3 mb-3 text-center">
                    <button mat-raised-button color="primary" (click)="updateAdminProfile()">Save</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-6 col-lg-3 text-center">
        <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
    </div>
</div>