.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  


  mat-sidenav{
    background: linear-gradient(180deg, #1A1A1D 8.02%, #695033 69.19%);
 }




  