.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container.column {
  flex-direction: column;
}

.flex-container.row {
  flex-direction: row;
}

.flex-item {
  margin: 10px; /* Adjust as needed */
  flex: 1; /* Equal width for all items */
}

@media screen and (max-width: 600px) {
  .flex-container,
  .flex-container.column,
  .flex-container.row {
    flex-direction: column;
  }
}
