<div class="flex-container column">
    <h2 mat-dialog-title>{{ data.title }}</h2>
    <div mat-dialog-content class="row">
      <form class="flex-container">
        <div class="flex-item">
          <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input matInput placeholder="Enter Commission...">
          </mat-form-field>
        </div>
  
        <div class="flex-item">
          <mat-form-field appearance="outline">
            <mat-label>Percentage</mat-label>
            <input matInput placeholder="Enter Commission...">
          </mat-form-field>
        </div>
      </form>
    </div>
    <div mat-dialog-actions class="flex-container">
      <div class="flex-item text-center">
        <button mat-raised-button color="primary">Add</button>
      </div>
    </div>
  </div>
  