<div class="main-wrapper">
    <div class="container-fluid">
      <form [formGroup]="notifcationForm">
        <div class="main-heading my-3">
          <div class="user-man">
            <h3>Notification Management</h3>
          </div>
        </div>
        <div class="row">
          <!-- Left Section: Title and Description -->
          <div class="col-md-6">
            <div class="form-group mt-3">
              <label for="notificationTitle">Notification Title</label>
              <input type="text" class="form-control" formControlName="title" name="notificationTitle" placeholder="Enter Title" />
            </div>
            <div class="form-group mt-3">
              <label for="notificationDescription">Notification Description</label>
              <textarea class="form-control" rows="8" formControlName="description" placeholder="Enter Description"></textarea>
            </div>
          </div>
          <!-- Right Section: User and Driver Dropdowns -->
          <div class="col-md-6">
            <div class="form-group mt-3">
              <label for="selectUser">Select User</label>
              <mat-form-field appearance="outline">
                <mat-label>Search User</mat-label>
                <mat-select formControlName="userId" multiple>
                  <mat-option *ngFor="let userOption of userData" [value]="userOption.id">
                    {{ userOption?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group mt-3">
              <label for="selectDriver">Select Driver</label>
              <mat-form-field appearance="outline">
                <mat-label>Search Driver</mat-label>
                <mat-select formControlName="driverId" multiple>
                  <mat-option *ngFor="let driverOption of driverData" [value]="driverOption.id">
                    {{ driverOption?.name }}
                  </mat-option>
                </mat-select>              
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Submit Button Section -->
        <div class="text-center mt-3">
          <button mat-raised-button color="primary" (click)="sendNotification()">Send Notification</button>
        </div>
      </form>
    </div>
  </div>
  