<section  class="authentication">
    <div class="container-fluid">
        <div class="row  vh-100 align-items-center">

            <div class="col-md-6 px-0 d-flex align-items-center left-bg vh-100 ">
                <div class="auth-box w-100 ">
                    <div class="card">
                        <div class="card-header">
                            <div class="left-auth-logo text-center">
                                <img src="/assets/images/logo-light.png" alt="logo">
                            </div>
                          </div>

                        <div class="card-body mt-3">

                            <div class="auth-box-left-text">
                                <h5>DIGGING CONVENIENCE</h5>    
                                <h1>BOOK YOUR JCB</h1>
                                <h5>Anytime, Anywhere</h5>    
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 px-0">
                <div class="auth-box px-lg-5 ">
                    <div class="card">
                        <div class="card-header">
                            <div class="auth-logo text-center">
                                <img src="/assets/images/logo-dark.jpg" alt="logo">
                            </div>
                        </div>

                        <div class="card-body">
                        

                            <div class="example-container">

                                <mat-form-field appearance="outline" class="w-100 mb-4">
                                    <mat-label>Email ID</mat-label>
                                    <input matInput placeholder="Enter Email ID">
                                </mat-form-field>



                                <mat-form-field appearance="outline" class="w-100 mb-4">
                                  <mat-label>Enter your password</mat-label>
                                  <input matInput [type]="hide ? 'password' : 'text'">
                                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                  </button>
                                </mat-form-field>


                            </div>


                            <div class="auth-btn">
                                <button mat-raised-button color="primary" class="w-100 mb-2 py-1" routerLink="/home/dashboard" >Submit</button>
                                <a href="javascript:void(0)" class="d-block text-end" routerLink="/forget-password">Forget Password ?</a>

                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>