<div class="main-wrapper">
    <div class="container-fluid">
        <div class="main-heading my-3">
            <h3>Notification Management</h3>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 col-lg-3 mb-3">
                <button mat-raised-button color="primary" routerLink="/home/notification-mgmt">Send Notification</button>
            </div>
        </div>

        <div class="table-responsive mb-5">
            <div class="w-100">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- ID Column -->
                    <ng-container matColumnDef="sr_no">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sr. No</th>
                        <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Title
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row?.title }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            description
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row?.description }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="userId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            User Name
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row?.user ? row?.user?.name : '--' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="driverId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Driver Name
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row?.driver ? row?.driver?.name : '--' }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                    <!-- Row shown when there is no matching data. -->
=                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </div>
</div>