<!-- <mat-nav-list>
    <a mat-list-item routerLink="/home/dashboard" routerLinkActive="active" >Dashboard</a>
    <a mat-list-item routerLink="/home/user-mgmt" routerLinkActive="active">User Management</a>
  </mat-nav-list> -->


<div class="list-group ">
    <a routerLink="/home/dashboard" routerLinkActive="active"
        class="list-group-item d-flex align-items-center gap-2 list-group-item-action" aria-current="true">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>

    <a routerLink="/home/user-mgmt" routerLinkActive="active"
        class="list-group-item d-flex align-items-center gap-2 list-group-item-action">
        <mat-icon>group</mat-icon> User Management
    </a>

</div>