<!-- <mat-nav-list>
    <a mat-list-item routerLink="/home/dashboard" routerLinkActive="active" >Dashboard</a>
    <a mat-list-item routerLink="/home/user-mgmt" routerLinkActive="active">User Management</a>
  </mat-nav-list> -->


<div class="list-group ">
    <a routerLink="/home/dashboard" routerLinkActive="active"
        class="list-group-item d-flex align-items-center gap-2 list-group-item-action" aria-current="true">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a routerLink="/home/user-mgmt" routerLinkActive="active"
        class="list-group-item d-flex align-items-center gap-2 list-group-item-action">
        <mat-icon>group</mat-icon> Account Mgmt
    </a>
    <!-- <a routerLink="/home/booking-mgmt" routerLinkActive="active"
        class="list-group-item d-flex align-items-center gap-2 list-group-item-action">
        <mat-icon>book</mat-icon> Booking Management
    </a>
    <a routerLink="/home/commission-mgmt" routerLinkActive="active"
        class="list-group-item d-flex align-items-center gap-2 list-group-item-action">
        <mat-icon>attach_money</mat-icon> Commission Management
    </a>
    <a routerLink="/home/offer-mgmt" routerLinkActive="active"
        class="list-group-item d-flex align-items-center gap-2 list-group-item-action">
        <mat-icon>timer</mat-icon> Offer Management
    </a>
    <a routerLink="/home/notification-mgmt" routerLinkActive="active"
        class="list-group-item d-flex align-items-center gap-2 list-group-item-action">
        <mat-icon>notifications_active</mat-icon> Notification Management
    </a> -->



</div>